/*

  climate-sim.css
  CSS styles for HADCrut3 Climate Data using MapboxGL.js

  AUTHOR: Teoman (Ted) Yavuzkurt
  www.github.com/teomandavid
  www.teomandavid.com

*/

body { 
  margin:0; 
  padding:0; 
}

#map { 
  position:absolute; 
  top:0; 
  bottom: 80px; 
  width:100%;
}

.m5{
  margin: 5px;
}

.m5-top{
  margin-top: 5px !important;
}

.m6-top{
  margin-top: 6px !important;
}

.m2{
  margin: 2px;
}


.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
 pointer-events: none !important; 
 text-align: center;
 padding: 5px;
 background-color: #55a;
 opacity: .75;
}

.mapboxgl-popup-content h4 {
  font-size: 120%;
  font-weight: bold;
  margin: 0px;
}

footer{
  height: 50px;
  width: 100%;
  display: block;
  background-color: #555;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  border-top: 10px solid #080808;
}

footer div:first-child{
  min-width: 500px;
  max-width: 900px;
  margin: auto;
}

.map-text{
  display: inline-block;
  width: 80px;
  font-size: 150%;
  margin: 2px;
  margin-top: 3px;
}

.map-text-title{
  display: inline-block;
  width: 80px;
  font-size: 150%;
  margin: 2px;
  font-weight: bold;
  text-align: right;
}

.mini{
  font-size: inherit%;
  margin-left: 10px;
  margin-right: 0px;
  font-weight: bold;
}

select{
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 120%;
  width: auto;
  min-width: 50px;
}

.map-controls{
  display: flex;
  flex-direction: row;
}

button{
  height: 20px;
  width: 75px;
}

#map-slider{
  max-width: 450px;
  min-width: 150px;
  height: 15px;
  margin-left: 9px;
  flex-grow: 0.5;
}

.gradient-container{
  max-width: 470px;
  min-width: 100px;
  display: inline-block;
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 0.5;
  display: flex;
  flex-direction: row;
}

.gradient-container span{
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}

.gradient{
  text-align: center;
  font-weight: bold;
  flex-grow: 1;
  overflow: hidden;
}

#author-info{
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 50;
  height: auto;
}

#temp-gradient{
  max-width: 350px;
  height: 20px;
  margin: 5px;
  margin-left: 10px;
  border: 1px solid black;
  display: inline-block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0000ff+0,ff0000+100 */
  background: #0000ff; /* Old browsers */
  background: -moz-linear-gradient(left,  #0000ff 0%, #ff0000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0000ff 0%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0000ff 0%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
}

#anomaly-gradient{
  max-width: 350px;
  min-width: inherit;
  height: 20px;
  margin: 5px;
  margin-left: 10px;
  border: 1px solid black;
  display: inline-block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000077+0,ff6100+100 */
  background: #000077; /* Old browsers */
  background: -moz-linear-gradient(left,  #000077 0%, #ff6100 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #000077 0%,#ff6100 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #000077 0%,#ff6100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000077', endColorstr='#ff6100',GradientType=1 ); /* IE6-9 */
}